:root {
    --brand-color: #2196f3;
    --basc-text-color: #2e229b;
    --black-color: #212121;
    --wite-color: #ffffff;
    --light-black-color: #2f303a;
    --logo-text-color: #000000;
    --secondary-fill-color: #f5f4fa;
    --background-portfolio-color: #e5e5e5;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --button-color: #188ce8;
    --button-portfolio-fill: #f5f4fa;
    --borders-line: #ececec;
    --border-line-img: #eeeeee;
    --card-set-get: 30px;
    --img-overlay-color: rgba(47, 48, 58, 0.4);
    --hero-bg-color: #c4c4c4;
    --border-klient-color: rgba(175, 177, 184, 1);
    --link-color-in-footer: rgba(255, 255, 255, 0.1);
    --btn-close-border-color: rgba(0, 0, 0, 0.1);
    --label-color: rgba(47, 48, 58, 0.8);
    --card-overley: rgba(33, 150, 243, 0.9); }








body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}


header {
   position: relative;
    text-align: center;
   
    /* Змінюйте на бажаний колір тексту */
    background-image: url('pictures/a_ukrainian_flag_w_image_.png');
        /* Вкажіть URL вашої картинки */
        background-size: cover;
        /* Розтягує картинку */
        background-position: center;
        /* Центрує картинку */
        width: 100%;
        height: 200px;
        /* Висота хедера */
  
        /* Поміщає зображення позаду тексту */
}

h1{
    color:var(--basc-text-color);

}

p{
    color: var(--basc-text-color);   
}
/*/*.header-image {
    background-image: url('pictures/a_ukrainian_flag_w_image_.png');
    /* Вкажіть URL вашої картинки */
/* background-size: cover;*/
/* Розтягує картинку */
/* background-position: center;*/
/* Центрує картинку */
/*width: 100%;
height: 300px;
/* Висота хедера */
/*position: absolute;
/*top: 0;
left: 0;
z-index: -1;
/* Поміщає зображення позаду тексту */
/*}*/


main {
    padding: 20px;
}

.body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.cart {
    margin-top: 20px;
}




footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

